{
  "plugins": ["prettier-plugin-sql", "prettier-plugin-tailwindcss"],
  "tailwindstylesheet": "./src/input.css",
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "keywordCase": "upper",
        "dataTypeCase": "upper",
        "language": "sqlite"
      }
    }
  ]
}
